<% include ./partials/header.ejs %>
    
    <link rel="stylesheet" href="../stylesheets/profile.css">
    
       <div class="card">
        <a href="#">
            <div id="edit">
                <i class="ri-edit-2-line"></i>
            </div>
        </a>
        <div class="pintro">
            <div class="pimg">
                <img src="" alt="">
            </div>
            <h3>User Name</h3>    
        </div>
        <div class="info">
            <h4>Information</h4>
            <p><b>Full Name</b> </p>
            <p><b>Email</b> <%= data.email %></p>
            <p><b>Phone No.</b> 8839736299</p>
        </div>
       </div>
<% include ./partials/footer.ejs %>