.card{
    min-width: 300px;
    height: 300px;
    background-color: rgb(194, 239, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}

.pintro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pimg{
    width: 100px;
    height: 100px;
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.pimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.info p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.info h4{
    color: rgb(46, 138, 95);
}

.edit{
    width: 30px;
    height: 30px;
    background-color: rgb(219, 219, 219);
    border-radius: 50px;
    color: rgb(112, 112, 112);
    position: absolute;
    bottom: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editpic{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.pimg:hover #editpic{
    display: flex;
}

#uploadpicf{
    display: none;
}